{% extends 'base.html.twig' %}

{% block title %}Résultats - {{ message }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 mx-auto my-4">
            <h1 class="text-center mb-3">Résultats dans la categorie {{ message }}</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Nom</th>
                        <th>Ville</th>
                        <th>Categorie</th>
                        <th>Resultat final</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, competitor in competitors %}
                    <tr>
                        <th scope="row">{{key+1}}</th>
                        <td>{{ competitor.firstname }} {{ competitor.lastname }}</td>
                        <td>{{ competitor.city }}</td>
                        <td>{{ competitor.category_name }}</td>
                        <td>{{ competitor.final_result }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No records found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}