{% extends 'base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 mx-auto my-4">
            <h1 class="text-center mb-3">Liste des participants</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Ville</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for competitor in competitors %}
                    <tr>
                        <td>{{ competitor.id }}</td>
                        <td>{{ competitor.firstname }} {{ competitor.lastname }}</td>
                        <td>{{ competitor.email }}</td>
                        <td>{{ competitor.city }}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-success">Show</a>
                            <a href="" class="btn btn-sm btn-danger">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No records found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_competitor') }}" class="btn btn-info">Ajouter un nouveau participant</a>
        </div>
    </div>
{% endblock %}

